<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SenseHat - Movimento muy sensual - Bomba!</title>
    <!-- link bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>SenseHAT</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Temperatura</h2>
                <p>{{ temperature }}</p>
            </div>
            <div class="col-md-4">
                <h2>Pressure</h2>
                <p>{{ pressure }}</p>
            </div>
            <div class="col-md-4">
                <h2>Humidity</h2>
                <p>{{ humidity }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h2>Send a message to the matrix</h2>
                <form action="" method="post">
                    <input type="text" name="message" id="message" class="form-control">
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        // submit form via AJAX
        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault();
            let message = document.querySelector('#message').value;
            fetch('/api/send_message', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({message: message})
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            });
        });
    </script>
    
</body>
</html>